<div class="search">
    <mat-form-field class="icon">
    <input type="text" matInput placeholder="search user" [(ngModel)]="searchText" >
  </mat-form-field>
  </div>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let list of tweetList | tweetfilter: searchText">
        <mat-card class="mat-elevation-z4" >   
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/{{list.imgName}}"/>     
            <mat-card-title class="text">{{list.userId}}</mat-card-title>
            <mat-card-subtitle class="text_grey">@{{list.firstName}}</mat-card-subtitle>     
          </mat-card-header>     
      <mat-card-content>
        <p class="text_black container" [class.show]="list.visible">
          "{{list.userTweets}}"
        </p>
        <button mat-button  color ='basic' (click)="list.visible = !list.visible">{{ list.visible ? 'Show less': 'Show More' }}</button>
          <p class="text_black_date">
            <b>Posted on : {{list.createdDate |date}}</b>
        </p>
        <p>
        <button mat-raised-button (click)='comment(list.id,list.userId)' class='button_Comments'>Comments</button>
        <button (click)='like(list.id)'color='accent' mat-button><mat-icon color='primary'>thumb_up</mat-icon>{{list.likes}}</button>
      </p>
      </mat-card-content>
    </mat-card>

</div>
</div>
</div>
  